{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width section-{{ section.id }}-padding">
    <div class="contact__left-wrapper">
      {%- if section.settings.heading != blank -%}
        <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.heading }}
        </h2>
      {%- else -%}
        <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
      {%- endif -%}
      {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
          assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
      -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {{- 'icon-success.svg' | inline_asset_content -}}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {{- 'icon-error.svg' | inline_asset_content -}}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class="contact__fields">
          <div class="field">
            <input
              class="field__input"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              placeholder="{{ 'templates.contact.form.name' | t }}"
              required
            >
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            <label class="field__label" for="ContactForm-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class="field">
          <input
            type="tel"
            id="ContactForm-phone"
            class="field__input"
            autocomplete="tel"
            name="contact[{{ 'templates.contact.form.phone' | t }}]"
            pattern="[0-9\-]*"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            placeholder="{{ 'templates.contact.form.phone' | t }}"
            required
          >
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        {% comment %}
          <div class="field">
            <textarea
                rows="10"
                id="ContactForm-body"
                class="text-area field__input"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                placeholder="{{ 'templates.contact.form.comment' | t }}"
              >
              {{- form.body -}}
            </textarea>
            <label class="form__label field__label" for="ContactForm-body">
              {{- 'templates.contact.form.comment' | t -}}
            </label>
          </div>
        {% endcomment %}

        <select id="ContactForm-select" name="contact[request_type]" class="field__input">
          <option>What*s your query regarding</option>
          <option>Select-1</option>
          <option>Select-2</option>
          <option>Select-3</option>
        </select>

        <div class="consent">
          <input type="checkbox" id="ContactForm-consent">
          <label class="" for="ContactForm-consent"> I consent to being contacted by DockPot. </label>
        </div>

        <div class="contact__button">
          <button type="submit" class="button">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {%- endform -%}
    </div>

    <div class="contact__right-wrapper">
      <p class="contact__r-title">Contact Details</p>
      <div class="contact__r-emaile">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
          <path d="M6.95455 0.625V2.59624L0.75 6.63565V23.375H25.5682V6.63565L19.3636 2.59624V0.625H6.95455ZM9.02273 2.69318H17.2955V10.6428L13.1591 13.3249L9.02273 10.6428V2.69318ZM10.0568 4.76136V6.82955H16.2614V4.76136H10.0568ZM6.95455 5.0522V9.28551L3.6907 7.18501L6.95455 5.0522ZM19.3636 5.0522L22.6275 7.18501L19.3636 9.28551V5.0522ZM10.0568 7.86364V9.93182H16.2614V7.86364H10.0568ZM2.81818 9.09162L13.1591 15.7809L23.5 9.09162V21.3068H2.81818V9.09162Z" fill="#FAFBFB"/>
        </svg>
        <p>
          <span>EMAIL</span>
          <span>info@marcc.com.au</span>
        </p>
      </div>

      <div class="social-link__wrapper">
        <a href="{{ section.settings.facebook_link }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="22" viewBox="0 0 12 22" fill="none">
            <path d="M10.9559 12.2128L11.5745 8.28572H7.76379V5.73313C7.76379 4.65932 8.29581 3.61006 9.99704 3.61006H11.7539V0.265925C10.7308 0.102916 9.69697 0.0147282 8.6608 0.0020752C5.52435 0.0020752 3.47669 1.88584 3.47669 5.29133V8.28572H0V12.2128H3.47669V21.7114H7.76379V12.2128H10.9559Z" fill="#FAFBFB"/>
          </svg>
        </a>
        <a href="{{ section.settings.instagram_link }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22" fill="none">
            <g clip-path="url(#clip0_323_3247)">
            <path d="M11.6107 1.95506C14.5114 1.95506 14.855 1.96779 15.9958 2.01868C17.056 2.06533 17.6285 2.24345 18.0102 2.39188C18.5149 2.58696 18.8796 2.82445 19.257 3.20189C19.6387 3.58358 19.872 3.94405 20.067 4.44872C20.2155 4.83041 20.3936 5.40717 20.4402 6.46316C20.4911 7.60821 20.5039 7.95172 20.5039 10.8483C20.5039 13.7491 20.4911 14.0926 20.4402 15.2334C20.3936 16.2936 20.2155 16.8661 20.067 17.2478C19.872 17.7525 19.6345 18.1172 19.257 18.4946C18.8753 18.8763 18.5149 19.1096 18.0102 19.3047C17.6285 19.4531 17.0518 19.6312 15.9958 19.6779C14.8507 19.7288 14.5072 19.7415 11.6107 19.7415C8.70987 19.7415 8.36635 19.7288 7.22555 19.6779C6.16532 19.6312 5.59279 19.4531 5.21111 19.3047C4.70644 19.1096 4.34172 18.8721 3.96428 18.4946C3.5826 18.113 3.34935 17.7525 3.15427 17.2478C3.00583 16.8661 2.82772 16.2894 2.78107 15.2334C2.73017 14.0883 2.71745 13.7448 2.71745 10.8483C2.71745 7.94748 2.73017 7.60397 2.78107 6.46316C2.82772 5.40293 3.00583 4.83041 3.15427 4.44872C3.34935 3.94405 3.58684 3.57933 3.96428 3.20189C4.34596 2.82021 4.70644 2.58696 5.21111 2.39188C5.59279 2.24345 6.16956 2.06533 7.22555 2.01868C8.36635 1.96779 8.70987 1.95506 11.6107 1.95506ZM11.6107 0C8.66322 0 8.29426 0.0127228 7.13649 0.0636138C5.98296 0.114505 5.18991 0.301105 4.50288 0.568283C3.78616 0.848184 3.17971 1.21714 2.5775 1.82359C1.97105 2.42581 1.60209 3.03226 1.32219 3.74473C1.05501 4.436 0.868411 5.22481 0.81752 6.37834C0.766629 7.54035 0.753906 7.90931 0.753906 10.8568C0.753906 13.8042 0.766629 14.1731 0.81752 15.3309C0.868411 16.4844 1.05501 17.2775 1.32219 17.9645C1.60209 18.6812 1.97105 19.2877 2.5775 19.8899C3.17971 20.4921 3.78616 20.8653 4.49864 21.141C5.18991 21.4082 5.97872 21.5948 7.13225 21.6456C8.29002 21.6965 8.65898 21.7093 11.6064 21.7093C14.5539 21.7093 14.9228 21.6965 16.0806 21.6456C17.2341 21.5948 18.0272 21.4082 18.7142 21.141C19.4267 20.8653 20.0331 20.4921 20.6353 19.8899C21.2375 19.2877 21.6107 18.6812 21.8864 17.9688C22.1536 17.2775 22.3402 16.4887 22.3911 15.3352C22.442 14.1774 22.4547 13.8084 22.4547 10.861C22.4547 7.91355 22.442 7.54459 22.3911 6.38682C22.3402 5.23329 22.1536 4.44024 21.8864 3.75321C21.6192 3.03226 21.2503 2.42581 20.6438 1.82359C20.0416 1.22138 19.4352 0.848184 18.7227 0.572524C18.0314 0.305346 17.2426 0.118746 16.0891 0.0678547C14.9271 0.0127228 14.5581 0 11.6107 0Z" fill="#FAFBFB"/>
            <path d="M11.61 5.27991C8.5311 5.27991 6.0332 7.77781 6.0332 10.8567C6.0332 13.9356 8.5311 16.4335 11.61 16.4335C14.6889 16.4335 17.1868 13.9356 17.1868 10.8567C17.1868 7.77781 14.6889 5.27991 11.61 5.27991ZM11.61 14.4742C9.61254 14.4742 7.99251 12.8542 7.99251 10.8567C7.99251 8.85924 9.61254 7.23921 11.61 7.23921C13.6075 7.23921 15.2275 8.85924 15.2275 10.8567C15.2275 12.8542 13.6075 14.4742 11.61 14.4742Z" fill="#FAFBFB"/>
            <path d="M18.7094 5.05941C18.7094 5.78037 18.1241 6.36137 17.4074 6.36137C16.6865 6.36137 16.1055 5.77613 16.1055 5.05941C16.1055 4.33845 16.6907 3.75745 17.4074 3.75745C18.1241 3.75745 18.7094 4.34269 18.7094 5.05941Z" fill="#FAFBFB"/>
            </g>
            <defs>
            <clipPath id="clip0_323_3247">
            <rect width="21.7135" height="21.7135" fill="white" transform="translate(0.753906)"/>
            </clipPath>
            </defs>
          </svg>
        </a>
        <a href="{{ section.settings.linkedin_link }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
            <g clip-path="url(#clip0_323_3248)">
            <rect x="1.35742" y="2.09338" width="18.9993" height="18.9993" fill="#39474A"/>
            <path d="M20.1106 0.736328H1.60288C1.17777 0.736328 0.770071 0.905203 0.469473 1.2058C0.168874 1.5064 0 1.9141 0 2.33921V20.8469C0 21.2721 0.168874 21.6798 0.469473 21.9804C0.770071 22.281 1.17777 22.4498 1.60288 22.4498H20.1106C20.5357 22.4498 20.9434 22.281 21.244 21.9804C21.5446 21.6798 21.7135 21.2721 21.7135 20.8469V2.33921C21.7135 1.9141 21.5446 1.5064 21.244 1.2058C20.9434 0.905203 20.5357 0.736328 20.1106 0.736328ZM6.47183 19.2335H3.20727V8.86381H6.47183V19.2335ZM4.83729 7.4268C4.46698 7.42472 4.10558 7.31298 3.79872 7.1057C3.49185 6.89842 3.25326 6.60488 3.11306 6.26213C2.97286 5.91938 2.93734 5.54279 3.01097 5.17986C3.0846 4.81694 3.26408 4.48397 3.52677 4.22296C3.78947 3.96195 4.12359 3.7846 4.48697 3.7133C4.85036 3.64201 5.22672 3.67995 5.56856 3.82235C5.91041 3.96474 6.20241 4.20521 6.40771 4.5134C6.61302 4.82159 6.72243 5.1837 6.72214 5.55401C6.72563 5.80194 6.67917 6.04803 6.58553 6.27762C6.4919 6.50721 6.35299 6.71559 6.1771 6.89036C6.00121 7.06512 5.79194 7.20268 5.56175 7.29485C5.33157 7.38701 5.08518 7.43189 4.83729 7.4268ZM18.5047 19.2426H15.2417V13.5775C15.2417 11.9067 14.5315 11.391 13.6147 11.391C12.6466 11.391 11.6966 12.1208 11.6966 13.6197V19.2426H8.43208V8.87135H11.5715V10.3084H11.6137C11.9289 9.67053 13.0326 8.58033 14.7169 8.58033C16.5385 8.58033 18.5062 9.66148 18.5062 12.828L18.5047 19.2426Z" fill="#FAFBFB"/>
            </g>
            <defs>
            <clipPath id="clip0_323_3248">
            <rect width="21.7135" height="21.7135" fill="white" transform="translate(0 0.736328)"/>
            </clipPath>
            </defs>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Social links"
    },
    {
      "type": "url",
      "id": "facebook_link",
      "label": "Facebook link"
    },
    {
      "type": "url",
      "id": "instagram_link",
      "label": "Instagram link"
    },
    {
      "type": "url",
      "id": "linkedin_link",
      "label": "Linkedin link"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
